* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.choice button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    background: #F5F5F5;
}

.card, .log {
    border-radius: 15px;
    border: 1px solid #D1D5DB;
}

.header {
    padding: 10px 0px 5px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background: #3b8296;
}

.header *{
    color: white;
}

.index *, .log *{
    color: #1F2937;
}

.card {
    display: flex;
    justify-content: space-between;
    background-color: #FFFFFF;
    padding: 4px 7px;
    width: 325px;

}
.card, .log {
    background-color: #FFFFFF;
}

.card span {
    flex-shrink: 0;
}

.card *, .index * {
    font-weight: bold;
}

.humanName {
    color: #22C55E;
}
.computerName {
    color: #EF4444;
}

.choice {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.log {
    display: flex;
    flex-direction: column;
    max-height: 136px;
    height: 136px;
    width: 360px;
    padding: 10px;
    overflow-y: auto;

}

.log p {
    text-align: left;
    margin: 3px 0px;
    white-space: nowrap;
}

.choice img {
    height: 100px;
    width: auto;
}

.choice button:hover img{
    outline: 2px solid black;
}

#paper img{
    filter: brightness(90%);
}

.hidden {
    display: none;
}