body {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.container.choice, .container.results {
    display: flex;
    justify-content: space-between;
    width: 50%;
}
.container.results {
    justify-content: space-around;
}


.log p {
    text-align: center;
}